{% extends 'web/er/layout.html' %}

{% block link %}
{% endblock %}

{% block content %}
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Editar Producto</h1>
  <!-- <p class="mb-4">Lista de Productos habilitados para manejar la ER</p> -->

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Certificado Persona Natural</h6>
    </div>
    <div class="card-body">
      <form action="">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Disponible para la venta</label>
        </div>

        <div class="form-group">
          <label for="exampleInputPassword1">Precio de Venta</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">$</span>
            </div>
            <input type="text" class="form-control" placeholder="00.00" aria-label="Username" value="20.00">
          </div>          
        </div>

        <!-- <button type="submit" class="btn btn-primary">Guardar</button> -->
        <a class="btn btn-primary" href="{% url 'web:er-products-list'%}">Guardar</a>

      </form>
    </div>
  </div>

{% endblock %}

{% block scripts %}
{% endblock %}