
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html style="text-decoration: none; outline: none; list-style-type: none; margin: 0; padding: 0; border: none;">
<body
        style="
            text-decoration: none;
            outline: none;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            color: #444;
            line-height: 1.5;
            background-color: #f8f8f8;
            list-style-type: none;
            margin: 0;
            padding: 0;
            border: none;"
        bgcolor="#f8f8f8"
>
<style type="text/css">
    a {
        text-decoration: none;}
a:hover { text-decoration: none; color: #4d4dd9 !important; }
></style>

  <meta charset="UTF-8" style="text-decoration: none; outline: none; list-style-type: none; margin: 0; padding: 0; border: none;">
  <meta name="viewport" content="initial-scale=1, width=device-width" style="text-decoration: none; outline: none; list-style-type: none; margin: 0; padding: 0; border: none;">
  <title style="text-decoration: none; outline: none; list-style-type: none; margin: 0; padding: 0; border: none;">eMesh</title>
  
  <!-- Wrapper -->
  <div style="
        text-decoration: none;
        outline: none;
        list-style-type: none;
        max-width: 800px;
        margin: 0 auto;
        padding: 40px 0 0;
        border: none;
        box-sizing: border-box;
        max-width: 800px;
        margin: 0 auto;">
    <!--Header -->
    <div style="
        text-decoration: none;
        outline: none;
        margin: 0;
        background-color: black;
        vertical-align: middle;
        padding: 16px 30px;
        border: 1px solid black;
        box-sizing: border-box">
      
    </div>
    <!--Main content -->
    <div style="
        outline: none;
        margin: 0;
        padding: 30px;
        background-color: #fff;
        border: 1px solid #f0f0f0;
        border-top: none;
        box-sizing: border-box">
    Hola {{first_name}} <br>
    <p>Haz sido invitado como <b>{{rol}}</b> </p>
    <p>Este es email de ejemplo</p>
    </div>
    <!-- Footer -->
    <div style="
        text-decoration: none;
        outline: none;
        margin: 0;
        border: none;
        padding: 30px;
        font-size: 12px;
        color: #646464;
        box-sizinng: border-box;">
      <p style="text-decoration: none; outline: none; list-style-type: none; margin: 0; padding: 0; border: none;">
        Made with laptops
      
        <a href="http://www.emesh.la" title="" target="_blank" style="text-decoration: none; outline: none; color: #3838d4; list-style-type: none; margin: 0; padding: 0; border: none;">www.saer.la</a></p>
    </div>
  </div> <!-- end Wrapper -->

</body></html>
