{% extends 'web/er/layout.html' %}

{% block link %}
{% endblock %}

{% block content %}
  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Agregar nuevo usuario</h1>
  <!-- <p class="mb-4">Lista de Productos habilitados para manejar la ER</p> -->

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">Enviar Invitación</h6>
    </div>
    <div class="card-body">
      <form action="." method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="exampleInputPassword1">Nombre</label>          
          <input type="text" class="form-control" name="name" required>          
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Correo Electrónico</label>          
          <input type="email" class="form-control" name="email" required>
          <small id="emailHelp" class="form-text text-muted">La persona recibirá un correo para inciar el proceso de solicitud de certificado y asociación a la ER</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Rol</label>          
          <select class="form-control" name="rol" required>
            <option disabled selected>Seleccione uno</option>
            <option value="operator">Operador</option>
            <option value="other-1">Other 1</option>
            <option value="other 2">Other 2</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <!-- <a class="btn btn-primary" href="{% url 'web:er-products-list'%}">Guardar</a> -->

      </form>
    </div>
  </div>

{% endblock %}

{% block scripts %}
{% endblock %}